* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*  HEADER START  */
.header {
    /*TODO STICKY HEADER*/
    /*position: fixed;*/
    /*top: 0;*/
    /*width: 100%;*/
    display: flex;
    justify-content: center;
    height: 5rem;
    background-color: #ff6900;
    color: white;
}

.container {
    max-height: 100%;
    width: 1200px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    max-height: 100%;
}

.navbar-links {
    list-style: none;
}

.navbar-links li {
    margin-inline: 1rem;
    cursor: pointer;
}

.navbar-links.left li:hover {
    text-decoration: underline;
}

.navbar-links.left {
    display: flex;
    align-items: center;
}

.navbar-links.right {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 1rem;
    max-height: 100%;
}

.logo img {
    height: 100%;
    width: 100%;
}

/*  HEADER END  */

/*  MAIN  */
/*  SHOP START  */
.section-feature {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.main .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* SHOP ITEM */
.shop .item {
    position: relative;
    margin: 1rem;
    flex: 0 1 calc(100% / 3 - 1rem * 2);
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.shop .item img {
    object-fit: cover;
    object-position: center;
    height: auto;
    width: 100%;
    position: relative;
}

.description.model {
    font-weight: 600;
    font-size: 20px;
}

.description.price {
    color: crimson;
}

.description.old-price {
    color: grey;
    text-decoration: line-through;
}

.item i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
    font-size: 2rem;
}

.item i:hover {
    cursor: pointer;
    color: crimson;
}

.item .price-status {
    position: absolute;
    bottom: 15%;
    left: 0;
    display: flex;
    gap: 3px;
    color: white;
    font-size: 13px;
}

.price-status .discount {
    padding: 2px 10px;
    background-color: red;
}

.price-status .sustainability {
    padding: 2px 10px;
    background-color: green;
}

.item img#ph1:hover{
    content: url("img/1b.webp");
}

.item img#ph2:hover{
    content: url("img/2b.webp");
}

.item img#ph3:hover{
    content: url("img/3b.webp");
}

.item img#ph4:hover{
    content: url("img/4b.webp");
}

.item img#ph5:hover{
    content: url("img/5b.webp");
}

.item img#ph6:hover{
    content: url("img/6b.webp");
}
